<h3>安装</h3>

<p>import SnEmail  from &#39;vue文件的路径&#39;
 export default {
        components: {
        SnEmail 
    }
 `</p>

<h4>使用实例</h4>

<p><code>
&lt;SnEmail message=&quot;数据加载&quot;&gt;&lt;/SnEmail&gt;
</code></p>

<h3>Props</h3>

<p>|    name    |    Description   |   type   |default|</p>

<p>| -----------------  | ---------------- | :--------: | :----------: |</p>

<p>placeholder| 提示文字|String| ‘’</p>

<p>readonly| 只读|boolen| ‘true’</p>

<p>disabled| 可用|boolen| ‘’true</p>

<p>maxlength| 长度| Number | ‘’</p>

<h3>Events</h3>

<p>| name | item   |Description
| :--------:   | -----  |:----------: |
|   @inputFrtValue|  time| 校验邮件格式</p>