@import (reference) '../../style/common.less';

.empty-comp {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    max-width: @max-content-width;
    padding: 0 @padding-mob-normal;
    .flex-box();
    .justify-content(center);
    .align-items(center);

    .panel {
        width: 100%;
        // margin-top: -.72rem;
        // transform: translate(0, -50%);

        i {
            display: block;
            width: 100%;
            height: 1.62rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;


            &.no-product{
                background-image: url("../resource/img/no-product.png");
            }

            &.no-trade{
                background-image: url("../resource/img/no-trade.png");
            }

            &.no-charge{
                background-image: url("../resource/img/no-charge.png");
            }

            &.no-card{
                background-image: url("../resource/img/no-card.png");
            }

            &.no-content {
                height: 2.56rem;
                background-image: url("../resource/img/no_content.png");
            }

            &.no-search {
                background-image: url("../resource/img/no_search.png");
            }

            &.no-contract,
            &.no-sign {
                background-image: url("../resource/img/no_contract.png");
            }

            &.no-app {
                background-image: url("../resource/img/no_app.png");
            }
            &.no-auth {
                background-image: url("../resource/img/no_auth.png");
            }
        }

        .emptyTips {
            color: #999;
            text-align: center;
            // line-height: 1rem;
            margin-top: .4rem;
            margin-bottom: .3rem;
            font-size: .3rem;
        }

        .emptyTipsLine2 {
            color: #333;
            text-align: center;
        }

        .emptyBtn {
            background: @color-blue;
            color: #fff;
            margin: .6rem auto 0;
            cursor: pointer;
            text-align: center;

            &:active {
                background: @color-blue-press;
            }
        }
    }
}

@media screen and (max-width: @screen-xs-max ) {
    .empty-comp {
        padding: 0 30px;

        .emptyTips,
        .emptyTipsLine2 {
            font-size: .32rem;
        }

        .emptyBtn {
            width: 4.8rem;
            height: .9rem;
            line-height: .9rem;
            font-size: .32rem;
            border-radius: .08rem;
        }
    }
}

@media screen and (min-width: @screen-xs-max ) {
    .empty-comp {
        padding: 0 50px;

        .emptyTips,
        .emptyTipsLine2 {
            font-size: 14px;
        }

        .emptyBtn {
            width: 200px;
            height: 28px;
            line-height: 28px;
            border-radius: 4px;
            font-size: 14px;

            &:hover {
                background-color: @color-blue-hover;
            }
        }
    }
}

@media screen and (min-width: @screen-md-min) {
    .empty-comp {

        .emptyTips,
        .emptyTipsLine2 {
            font-size: 14px;
        }

        .emptyBtn {
            width: 400px;
            height: 34px;
            line-height: 34px;
            border-radius: 4px;
            font-size: 14px;

            &:hover {
                background-color: @color-blue-hover;
            }
        }
    }
}