{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        [
            "babel-plugin-transform-imports",
            {
                "biscomponents": {
                    "transform": "components/bisComponents/${member}/${member}.vue",
                    "preventFullImport": true
                }
            }
        ]
    ],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}