@import (reference) '../../style/common.less';

.snVerifyCode .button-detail {
    position: absolute;
    width: 2rem;
    height: 0.56rem;
    top: 50%;
    right: 0.3rem;
    margin-top: -0.28rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 0.28rem;
    line-height: 0.56rem;
    color: @color-blue;
    text-align: center;
    border-radius: 0.06rem;
    background: @color-blue;
    color: #fff;
}

.snVerifyCode .weui-cell__ft {
    padding-right: 2.3rem;
}

.snVerifyCode .button-detail {
    .flex-box();
    .justify-content(center);
    .align-items(center);

    &.fail {
        background: #7f7f7f;
    }
}